name: Postman Collection Workflow

on:
  push:
    branches: [main] # we can use -main -dev -qa for muiltiple branches 
  workflow_dispatch: # used for manual execution 
  schedule: 
    - cron : 30 02 * * * # Run every day at 8am IST 
    - cron : 30 14 * * * # run at 7.00pm IST
    - cron : 00 06 * * 1-4 # run at 11.30 am IST monday to Thursday

jobs: 
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: checkout the code 
        uses: actions/checkout@v5.0.0

      - name: Install nodejs and npm
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '22'

      - name: Install newman and html-extra-reporter globally
        run: |
            npm install -g newman 
            npm install -g newman-reporter-htmlextra

      - name: Run the postman collection with newman
        run: |
            newman run Inwarrenty_flow_Collection.postman_collection.json \
            -e QA_Env_postman_environment.json \
            -r cli,htmlextra \
            --reporter-htmlextra-export ./newman/index.html

      - name: Newman Report # Archiving the newman repaorts using build artifacts
        if: always() #ensures the archive section is generated irespective of the test passes or fails 
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Newman Reports
          path: newman/*.html

      - name: Creating github page branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0 #peaceiris->github pages action 
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/

      - name: Sending email notification # sednding email notification to stakeholders 
        if: always()
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: smtp.gmail.com
          server_port: 465u
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: phoenis InwarrantyFlow Execution notification 
          to: saanviphx@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}
          body: !
                 Hi,
                 Phoenix inwarranty flow test has been esected and the report has been published and the 
                 URL for the report is- https://manasa985.github.io/Phoenix-In-warranty-Flow-/
          
          
          
          
        
          

    
